
<body>
  <div id="bl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
      <div class="container"><a class="navbar-brand">Formation</a>
          <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                  class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
          <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/home">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="#propos">à propos</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>

              <div>
              <form class="form-inline my-2 my-lg-0">
                  <a routerLink="/login" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase " style="z-index: 3;" *ngIf="!loginStatus" >se connecter</a>
                  <a  class="btn btn-danger my-3 my-sm-0 mr-3 text-uppercase  " *ngIf="loginStatus" style="z-index: 3;"  (click)="logOut()">Déconnexion</a>
                   <a routerLink="/inscription" style="z-index: 3;"  class="btn btn-info my-2 my-sm-0 text-uppercase" *ngIf="!loginStatus">s'inscrire</a>
                   <a routerLink="/profile" class=" my-3 my-sm-2 text-uppercase" style="z-index: 3;" *ngIf="loginStatus" id="fr2"><i class="fa fa-user" aria-hidden="true"></i></a>
                   <a routerLink="/proprosFormation" class=" my-3 my-sm-2 text-uppercase" style="z-index: 3;" *ngIf="loginStatus" id="fr2">Mes formations</a>
              </form></div>
          </div>
      </div>
  </nav>
  <div class="container-fluid gtco-banner-area">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h1> apprenez quelque chose de <span>nouveau</span> avec nous aujourd'hui </h1>
                  <p>nous vous proposons des formations professionnelles encadrées par des formateurs experts</p>
                  <a href="#">Voir plus <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
              <div class="col-md-6">
                  <div class="card"><img class="card-img-top img-fluid" src="assets/images/banner-img.png" style="z-index: 3;" alt=""></div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid gtco-feature" id="services">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="cover">
                      <div class="card">
                          <svg
                                  class="back-bg"
                                  width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                              <defs>
                                  <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                      <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                      <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                                  </linearGradient>
                              </defs>
                              <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
                                    d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z"/>
                          </svg>
                          <!-- *************-->

                          <svg width="100%" viewBox="0 0 700 500">
                              <clipPath id="clip-path">
                                  <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                              </clipPath>
                              <!-- xlink:href for modern browsers, src for IE8- -->
                              <image clip-path="url(#clip-path)" xlink:href="assets/images/learn-img.jpg" width="100%"
                                     height="465" class="svg__image"></image>
                          </svg>
                      </div>
                  </div>
              </div>
              <div class="col-md-5" id="propos">
                  <h2> A PROPOS DU CNI</h2>
                  <p> Le Centre National de l’Informatique est un établissement public à caractère non administratif
                    doté de la personnalité civile et de l’autonomie financière.
                  <p>
                      <small> Le CNI est un organisme placé sous la tutelle du Ministre des Technologies de la Communication,
                         et opérant dans les domaines du secteur de l’informatique
                         et des technologies de la communication et certifié ISO 9001version 2015

                      </small>
                  </p>
                  <a href="http://cni.tn/index.php/fr/layout-3/presentation-du-cni-2">lire la suite <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
      </div>
  </div>
  <div class="container-fluid gtco-features" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <h2> Services<br/>
                      </h2>
                  <p> Le CNI, de part la multiplicité de ses activités assure des études pour les thèmes suivants : </p>
                  <a href="http://cni.tn/index.php/fr/pages-3/etudes-et-conseil">tous les services<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
              <div class="col-lg-8">
                  <svg id="bg-services"
                       width="100%"
                       viewBox="0 0 1000 800">
                      <defs>
                          <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                              <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                              <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                          </linearGradient>
                      </defs>
                      <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                            d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                  </svg>
                  <div class="row">
                      <div class="col">
                          <div class="card text-center">
                              <div class="oval"><img class="card-img-top" src="assets/images/web-design.png" alt=""></div>
                              <div class="card-body">
                                  <h3 class="card-title">Audit de système d’information</h3>
                                  <p class="card-text"></p>
                              </div>
                          </div>
                          <div class="card text-center">
                              <div class="oval"><img class="card-img-top" src="assets/images/marketing.png" alt=""></div>
                              <div class="card-body">
                                  <h3 class="card-title"> Audit  sécurité et réseau</h3>
                                  <p class="card-text"> </p>
                              </div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="card text-center">
                              <div class="oval"><img class="card-img-top" src="assets/images/seo.png" alt=""></div>
                              <div class="card-body">
                                  <h3 class="card-title">Schéma directeurs stratégique /opérationnel & plans d’actions</h3>
                                  <p class="card-text"></p>
                              </div>
                          </div>
                          <div class="card text-center">
                              <div class="oval"><img class="card-img-top" src="assets/images/graphics-design.png" alt=""></div>
                              <div class="card-body">
                                  <h3 class="card-title"> Etude d’opportunité/de faisabilité</h3>
                                  <p class="card-text"> </p>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>




  <div class="container-fluid gtco-news" id="news">
      <div class="container">
          <h2>les formations</h2>

        <div class="row">
            <div class="card" style="width: 18rem;"  *ngFor="let c of lescycles, index as i">
              <img [src]="photos[i]"  style="width: 200px; height: 170px;" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Formation {{i+1}}</h5>
                <p class="card-text">
                  theme : <strong>{{c.theme}}</strong> <br>
                  <strong>{{c.dateDebut}}</strong> -> <strong>{{c.dateFin}}</strong> <br>
                  realisee par {{c.formateur.nom}} <br>
                  {{c.gouvernorat}} <br>
                </p>
                <a  [routerLink]="['/details', c.idCycle]" class="btn btn-info" > en savoir plus </a>
              </div>
            </div>


        </div>

      </div>
  </div>


  <footer class="container-fluid" id="gtco-footer" style="background-color: antiquewhite;">
      <div class="container">
          <div class="row">
              <div class="col-lg-6" id="contact">
                  <h4> Information de contact</h4>
                    <a href="https://www.google.fr/maps/place/Centre+National+de+l'Informatique+(CNI)+-+%D8%A7%D9%84%D9%85%D8%B1%D9%83%D8%B2+%D8%A7%D9%84%D9%88%D8%B7%D9%86%D9%8A+%D9%84%D9%84%D8%A5%D8%B9%D9%84%D8%A7%D9%85%D9%8A%D8%A9%E2%80%AD/@36.8126965,10.1658505,17z/data=!4m5!3m4!1s0x12fd3386aae7a5f9:0x48d6f4f6afb7d57!8m2!3d36.8126965!4d10.1658505"><img src="assets/map.jpg" height="300px" width="300px" alt="">
               </a> </div>
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-6">
                          <h4>Company</h4>
                          <ul class="nav flex-column company-nav">
                              <li class="nav-item"><a class="nav-link" href="#">  <i class="fa fa-home" id="footer"
                                aria-hidden="true"></i> Centre National de l’Informatique</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-location-arrow" aria-hidden="true"  id="footer"></i>
                                17, rue Belhassen Ben Chaabane,1005 El Omrane, Tunis Tunisie</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-phone" aria-hidden="true"  id="footer" ></i> tel : + 216 71 783 055</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-fax" aria-hidden="true"  id="footer"></i> ax: + 216 71 781 862</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"> <i class="fa fa-envelope" aria-hidden="true"  id="footer"></i> mail:webcni@cni.tn</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-globe" aria-hidden="true"  id="footer"></i> website : http://www.cni.tn</a></li>

                          </ul>
                          <h4 class="mt-5">Fllow Us</h4>
                          <ul class="nav follow-us-nav">
                              <li class="nav-item"><a class="nav-link pl-0" href="#"><i class="fa fa-facebook"
                                                                                        aria-hidden="true"  id="footer"></i></a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-twitter"
                                                                                   aria-hidden="true"  id="footer"></i></a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-google"
                                                                                   aria-hidden="true"  id="footer"></i></a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-linkedin"
                                                                                   aria-hidden="true"  id="footer"></i></a></li>
                          </ul>
                      </div>
                      <div class="col-6">
                          <h4>Liens Utiles</h4>
                          <ul class="nav flex-column services-nav">
                              <li class="nav-item"><a class="nav-link" href="http://www.infocom.tn/">Ministère des Technologies de Communication</a></li>
                              <li class="nav-item"><a class="nav-link" href="http://www.bawaba.gov.tn/">Portail de l'Administration Tunisienne</a></li>
                              <li class="nav-item"><a class="nav-link" href="https://www.ati.tn/"> Agence Tunisienne d’Internet</a></li>
                              <li class="nav-item"><a class="nav-link" href="www.certification.tn"> Agence Nationale de la Certification</a></li>
                          </ul>
                      </div>
                      <div class="col-12">
                          <p>&copy; 2019. All Rights Reserved. Design by <a href="https://gettemplates.co" target="_blank">GetTemplates</a>.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- owl carousel js-->
  <script src="owl-carousel/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>

  </div>
  </body>

