{{cycle.idCycle}}
<p> Cette formation est le meilleur point de départ pour vous préparer <br>
    aux outils et aux usages avancés du framework Symfony 6 avec ses créateurs <br>
    SensioLabs University a conçu la meilleure expérience de formation Symfony <br>
    en associant le présentiel et le e-learning. En complément de la formation en présentiel <br>
    l'accès à notre plateforme de révision en ligne pendant 1 mois, permet d’associer différentes pratiques </p>


    <a routerLink="/proprosFormation" class="btn btn-info me-2" > s'inscrire </a> 
    <a routerLink="/home" class="btn btn-light"> retour</a>