

 <div class="login-box">
  <div class="signin topline">

    <div id="box">
      {{cycle.idCycle}}
    <table class="table">
      <thead>
      <tr>
        <th scope="col"> nom et prenom</th>
        <th scope="col"> Cin</th>
        <th scope="col"> Entrprise</th>
        <th scope="col"> direction/service</th>
        <th scope="col">action</th>
      </tr></thead>
      <tr *ngFor="let f of formations">
     <td>{{f.user.nom}} {{f.user.prenom}}</td>
     <td>{{f.user.infosSupp.cin}}</td>
     <td>{{f.user.infosSupp.entreprise}}</td>
     <td>{{f.user.infosSupp.direction}}</td>
     <td><button (click)="deleteFormation(f.id)" class="button-44 "> supprimer </button></td>
      </tr>
    </table>



    </div>
  </div>
</div>






