
.login-box {
  height: 100px;
  z-index: 10;
  border-radius: 50px;
  position: relative;

}

  .login-box .login {
    display: none;
  }
  .login-box .signin {
    animation: fadeIn 0.8s;
  }

  .topline {
    display: inline-block;
    position: relative;
    bottom:  900px;;
    left: 800px;
  min-width: 1000px;
  min-height: 50px;
  padding: 2rem 2rem;
  background-color: white;
}
.topline:after {
      content: "";
      position: absolute;
      width: 20%;
      transform: scaleX(1);

      height: 5px;
      top: -5px;
      left: 0;

    }
@media screen and (max-width: 776px) {
  .login-box {
    padding: 40rem 2rem !important;
    right: unset !important;
    width: 1000px !important;
    max-width: 1000px;
  }
}

#box{
  top: 1000px;


}
 h2{
position: relative;
 right: 10px;
 bottom: 10px;
 }

 .frm{


  margin-left: 700px;
  padding: 20px;
  width: 300px;
  }


/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(2, 214, 37) 0%, rgb(87, 255, 53) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* CSS */
.button-44 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #f50202;
  background: linear-gradient(0deg, rgb(244, 7, 7) 0%, rgb(255, 104, 104) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #ff040498;
  letter-spacing: 0.05em;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-44:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-44:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
